/* Google Font types */

.font-subtext {
	font-family: 'Titillium Web', sans-serif;
}

.font-stylish {
	font-family: 'Monoton', cursive;
}

.font-retrogame {
	font-family: 'Press Start 2P', cursive;
}

.font-heading {
	font-family: 'IBM Plex Mono', monospace;
}

/* Main page */

#main-container {
	height: 700px; 
}

#main-background-image {
	width: 100%;
}

#background-text {
	margin: 0; 
	text-align: justify; 
	text-justify: inter-word; 
}

