/* Google Font types */

.font-subtext {font-family: 'Titillium Web', sans-serif; line-height: 2;}
.font-stylish {font-family: 'Monoton', cursive;}
.font-retrogame {font-family: 'Press Start 2P', cursive;}
.font-heading {font-family: 'IBM Plex Mono', monospace;}

/* W3 customer generated theme */

.w3-theme-l5 {color:#000 !important; background-color:#f0f9fd !important}
.w3-theme-l4 {color:#000 !important; background-color:#ceebf7 !important}
.w3-theme-l3 {color:#000 !important; background-color:#9dd7ee !important}
.w3-theme-l2 {color:#000 !important; background-color:#6cc4e6 !important}
.w3-theme-l1 {color:#fff !important; background-color:#3cb0de !important}
.w3-theme-d1 {color:#fff !important; background-color:#1d84ad !important}
.w3-theme-d2 {color:#fff !important; background-color:#1a7599 !important}
.w3-theme-d3 {color:#fff !important; background-color:#176786 !important}
.w3-theme-d4 {color:#fff !important; background-color:#145873 !important}
.w3-theme-d5 {color:#fff !important; background-color:#104960 !important}

.w3-theme-light {color:#000 !important; background-color:#f0f9fd !important}
.w3-theme-dark {color:#fff !important; background-color:#104960 !important}
.w3-theme-action {color:#fff !important; background-color:#104960 !important}

.w3-theme {color:#fff !important; background-color:#2092bf !important}
.w3-text-theme {color:#2092bf !important}
.w3-border-theme {border-color:#2092bf !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#2092bf !important}
.w3-hover-text-theme:hover {color:#2092bf !important}
.w3-hover-border-theme:hover {border-color:#2092bf !important}

.w3-theme-l1-opacity-min {color:#fff !important; background: rgba(60, 176, 222, .75) !important}

/* Main page */

#main-background-image {
	width: 100%; 
}

#background-container {
	background-image: url('../Images/background-text.PNG');
	background-size: auto; 
}

.break-word {
	word-wrap: break-word; 
}

.foremost-layer {
	position: relative; 
	z-index: 100; 
}

.position-abs-top {
	position: absolute;
	top: 0px; 
	width: 100%; 
}

#avatar-image {
	width: 100%; 
}

.image-logo {
	height: 50px; 
	opacity: .5;
}

/* @media queries */

@media only screen and (min-width: 993px) {

	#main-content {
		padding-left: 200px;  	
	}

}

@media only screen and (max-width: 600px) {
	
	.my-cards {
		padding: 10px !important; 
	}

	button {
		margin: 1px !important; 
		width: 90% !important;
	}

	#me-more-info {
		padding: 1px !important; 
	}

	#me-btn {
		width: 100% !important;   
	}

}

